@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #2d2926;
  --main: #d9f004;
  --light: #f3f3f3;
  --background: var(--dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
  }
}

body {
  color: var(--main);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
