@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #2d2926;
  --main: #d9f004;
  --light: #f3f3f3;
  --background: var(--dark);
  --foreground: var(--main);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--light);
    --foreground: var(--dark);
  }
}*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

html.light {
  background-color: var(--main);
  color: var(--dark);
  transition: background-color 0.5s, color 0.5s;
}

html.dark {
  background-color: var(--dark);
  color: var(--main);
  transition: background-color 0.5s, color 0.5s;
}
